.quem-somos {
    background: url('../images/image-perfil.jpg') no-repeat center;
    background-size: cover;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;

    &__container {
        width: 1000px;
      
        @media screen and (max-width: 760px){
            display: flex;
            align-items: center;
            justify-content: center;
        }

        .quem-somos__apresentacao {
            background-color: $dark;
            color: $white;
            width: 23rem;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: space-around;
            border: 2px solid $white;

            @media screen and (max-width: 760px){
                width: auto;
            }

            .name {
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: center;
                height: 150px;

                &::after {
                    content: '';
                    display: block;
                    width: 100%;
                    height: 5px;
                    background-color: $red;
                    margin-top: 1rem;
                }
            }

            .description {
                display: flex;
                flex-direction: column;
                height: 390px;
                justify-content: space-around;
                text-align: center;
                padding: 0 20px 36px;
            }

        }
    }
}